:root{
    --cerise: #D741A7;
    --icterine: #F5F749;
    --gunmetal: #232c33;
    --powderblue: #A0C1D1;
    --persianpink: #EB7BC0;
    --background-white: #f4f3f0;
    --light-beige: #ebe9e1;
    --pale-pink: #e1d2d5;
    --middle-pink: #c9a29a;
    --dark-pink: #b8767a;
    --darkest-pink: #775454;
    --mustard: #c99a28;
    --mustard-dark: #b88531;
    --blue-cerulean: #3a4c92;
    --blue-navy: #5d6080;
    --blue-pale-warm: #c9d7e2;
    --blue-pale-cold: #dae2f5;
    --button-pink: #f2d9d9;
    --off-black: #181e1c;
}

html{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

body{
    background-color: var(--background-white);
    color: black;
}

.container{
    height: 100%;
}

.wrapper{
    height: 100%;
}


.playfair-display-standard {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/*=====LANDING VIEW======*/
.landing-text-container{
    height: 4em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 11em;
    right: 14em;
    color: var(--gunmetal);
}

.landing-text{
    height: 100%;
    font-size: 2em;
}

.button-box{
    display: flex;
    justify-content: center;
}

.enter-btn{
    background-color: var(--middle-pink);
    color: var(--gunmetal);
    border: none;
    width: 7em;
    border-radius: 5px;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-btn:hover{
    background-color: var(--dark-pink);
    color: var(--background-white);
}

@keyframes color-cycle{
    0% {color: var(--blue-pale-warm);}
    6% {color: var(--light-beige);}
    12% {color: var(--pale-pink);}
    24% {color: var(--middle-pink);}
    36% {color: var(--dark-pink);}
    48% {color: var(--mustard);}
    60% {color: var(--mustard-dark);}
    72% {color: var(--blue-cerulean);}
    84% {color: var(--blue-navy);}
    99% {color: var(--blue-pale-warm);}
}

.color-cycle{
    color: var(--blue-pale-warm);
    animation: color-cycle 5s infinite;
}

.emoji{
    font-size: 2em;
}

.block-base{
    height: 60em;
    width: 12em;
    position: absolute;
    transform: skew(-35deg,35deg);
}

.block-1{
    background-color: var(--light-beige);
    top: -5em;
    left: -15em;
}

.block-2{
    background-color: var(--pale-pink);
    top: -4em;
    left: 5.75em;
}

.block-3{
    background-color: var(--middle-pink);
    top: 5.5em;
    left: 19.25em;
}

.block-4{
    background-color: var(--mustard);
    top: 15.5em;
    left: 33.5em;
}

.block-5{
    background-color: var(--mustard-dark);
    top: 26em;
    left: 48em;
}

.block-6{
    background-color: var(--blue-cerulean);
    top: 36em;
    left: 62.5em;
}

.block-7{
    background-color: var(--blue-navy);
    top: 46em;
    left: 77em;
}

.block-8{
    background-color: var(--blue-pale-warm);
    top: 56em;
    left: 91.5em;
}

.home-contain{
    background-color: var(--background-white);
    width: 100%;
    height: 100%;
    border: solid orange;
}

.home-wrap{
    height: 100%;
    border: dotted blue;
}

.home-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    padding-top: 3em;
}

.job-title{
    color: var(--darkest-pink);
    /* border: solid pink; */
    text-transform: uppercase;
    /* margin-top: auto; */
    margin: 0;
    /* padding-top: 10px; */
}

.home-name{
    color: var(--off-black);
    /* border: dotted lime; */
    font-size: 4em;
    margin: 0;
}

.home-nav-wrap{
    display: flex;
    flex-direction: row;
    border: solid pink;
    padding: 2em;
}

.color-block-wrap{
    border: solid yellow;
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 
    0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr ;
    height: 100%;
}

.color-block{
    /* border: solid black; */
    height: 50em;
}

.n1{
    background-color: var(--light-beige);
}

.n3{
    background-color: var(--pale-pink);
}

.n5{
    background-color: var(--middle-pink);
}

.n7{
    background-color: var(--dark-pink);
}

.n9{
    background-color: var(--mustard);
}

.n11{
    background-color: var(--mustard-dark);
}

.n13{
    background-color: var(--blue-cerulean);
}

.n15{
    background-color: var(--blue-navy);
}

.n17{
    background-color: var(--blue-pale-warm);
}

.n19{
    background-color: var(--blue-pale-cold);
}

