<div>
    <h1>ea resume</h1>
    <!-- <div ng-show="showBits">
        <div>
            <h2>Hello, <s>World</s> <br>I'm Carissa Davis </h2>
            <div>
                <div>
                    <button class="call-to-action" ng-click="resume()">See Full Resume</button>
                </div>
            </div>
            
        </div>
    ng-show="showResume"
    </div> -->

    <div  class="resume-body">
        <div>
            <button class="call-to-action" ng-click="resume()">See Fun Resume</button>
        </div>
        <div class="resume-header">
            <h1 class="playfair-display-styling">Carissa Davis</h1>
            <p>
                (240) 405-9056 <br>
                clsadavis@gmail.com <br>
                Searcy, AR &mdash; <i>open to relocation</i>
            </p>
            <div class="socials-wrapper">
                <a href="https://www.linkedin.com/in/carissa-davis/" target="_blank" class="socials2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="https://github.com/clsadavis" class="socials2"><i class="fa fa-github" target="_blank" aria-hidden="true"></i></a>
                <a href="https://codepen.io/Carissa-Davis" class="socials2" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="text-center">
            <h4>Summary</h4>
            <p>
                Customer service and administrative professional with 9+ years of experience 
                in customer-facing roles looking to start a career in full stack development. 
            </p>
        </div>
        <div class="text-center">
            <h4>Skills</h4>
            <div class="res-button-box">
                <button ng-repeat="skill in skills" class="res-button">{{skill}}</button>
            </div>
            <!-- <p>Java, HTML, CSS, IntelliJ, VSCode, Microsoft Office and Excel, 
                Google Drive, Python, JavaScript, XML, MySQL, JSON, Maven, 
                Postman, MariaDB, GitHub, RapidAPI</p> -->
        </div>
        
        <div class="res-ed">
            <div>
                <h4 class="text-center">Education</h4>
            </div>
            <div class="info-wrap">
                <div class="info-box">
                    <p class="sub-header-resume"><strong>Arkansas Coding Academy</strong></p>
                    <p>Conway, AR</p>
                    <p><i>July 2024 - Dec. 2024</i></p>
                    <p>Full Stack Java Web Development graduate with certificate of completion</p>
                </div>
                <div class="info-box">
                    <p class="sub-header-resume"><strong>Harding University</strong></p>
                    <p>Searcy, AR</p>
                    <p><i>Aug. 2013 - May 2016</i></p>
                    <p>Bachelor of Arts in English Language and Literature, and French Language and Literature</p>
                </div>
            </div>
        </div>
        
        <div class="res-exp">
            <div>
                <h4 class="text-center">Experience</h4>
            </div>
            <div class="exp-wrap">
                <div class="exp-box">
                    <p class="sub-header-resume"><strong>Edward Jones</strong></p>
                    <p>Branch Office Administrator</p>
                    <p>Searcy, AR</p>
                    <p><i>Dec. 2024 - Present</i></p>
                    <ul>
                        <li>Deepen and broaden client relationships through timely and thorough service</li>
                        <li>Manage multiple priorities in a high-volume, deadline-driven environment</li>
                        <li>Increase efficiency across branch operations</li>
                    </ul>
                </div>
                <div class="exp-box">
                    <p class="sub-header-resume"><strong>Harding University Physician Assistant Program</strong></p>
                    <p>Admissions Coordinator</p>
                    <p>Searcy, AR</p>
                    <p><i>Sept. 2021 - Nov. 2024</i></p>
                    <ul>
                        <li>Continually streamlined admissions processes by automating tasks and increasing efficiency; cut predecessor’s 80-hour pace by 50%
                        </li>
                        <li>Increased accepted-student satisfaction by personalizing application experience; decreased withdrawal rates prior to matriculation by 78% in 2023-2024 cycle
                        </li>
                    </ul>
                    <p>Program Assistant</p>
                    <p>Sept. 2020 - Sept. 2021</p>
                    <ul>
                        <li>Created and maintained better inventory processes for medical supply stock</li>
                        <li>Set up, performed troubleshooting during, and tore down simulated learning environments for PA students</li>
                    </ul>
                </div>
                <div class="exp-box">
                    <p class="sub-header-resume"><strong>Nuance Communications</strong></p>
                    <p>Remote Ophthalmologist Scribe	</p>
                    <p>Remote</p>
                    <p><i>Nov. 2019 - Apr. 2020</i></p>
                    <ul>
                        <li>Collaborated with remote scribe team to accurately and quickly complete medical charts within 4 hours of patient encounter</li>
                    </ul>
                </div>
            </div> 
        </div>
        <footer>

        </footer>
        
    </div>
</div>